@import url("./reset.css");
@import url("./font.css");
/****************************************************************** index.html******************************************************************/
.hero-section{
  margin: 0 0 0 30px;
}
.hero-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../assets/images/bgherosection.png");
  background-repeat: round;
  background-size: cover;
  height: 90vh;
}
.hero-content {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 295px;
  font-size: 25px;
  line-height: 37px;
}
.section-images {
  background-color: var(--green);
  padding: 50px 20px; /*50px 0 40px */
  text-align: center;
}
.swiper-img {
  width: 100% !important;/*100%*/
  height: 180px ;
  padding: 0 10px !important;/*10*/
  object-fit: cover;
}
.slider{
  margin: 35px 0 0 !important;
}
.slick-dots li {
  display: inline-block;
  margin:0 7px;
}
.slick-dots .slick-active button {
  background-color: var(--white);
}

.slick-dots button {
  color: transparent;
  background-color:var(--light-aqua);
  border: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.slick-dots button:hover {
  background-color: black;
}
.slick-dots {
  margin: 25px 0 0 !important;
}

 .section-images {
  background-color: var(--green);
  padding: 50px 20px; /*50px 0 40px */
  text-align: center;
}

.section-bg {
  background-color: var(--white);
}

.section-chiesi {
  text-align: center;
  padding: 50px 60px 0;
}

.chiesi {
  width: 125px;
  vertical-align: text-top;
}

.chiesi-describe {
  font-size: 20.51px;
  font-family: "inter-bold", sans-serif;
  max-width: 600px;
  line-height: 30px;
  text-align: center;
  margin: 40px auto 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  column-gap: 30px;
  border: 1.5px solid var(--green);
  padding: 20px 10px;
}

.flex:nth-child(3) {
  margin: 50px 0 0;
}

.flex:nth-child(4) {
  margin: 20px 0;
}

.box-content {
  max-width: 390px;
}

.content:nth-child(2) {
  margin: 10px 0;
}

.content:nth-child(5) {
  margin-bottom: 15px;
}

.content {
  font-size: 15px;
}

.image {
  width: 340px;
}

/****************************************************************** index.html******************************************************************/

/****************************************************************** canopi.html******************************************************************/
.hero-canopi,
.frise-hero-section {
  position: relative;
}

.hero-content-container {
  padding: 100px 100px 30px;
}

.hero-canopi::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url("../assets/images/bgconapi.png");
  background-repeat: round;
  background-size: cover;
}

.hero-title {
  font-size: 4.5em;
  font-family: "inter-regular", sans-serif;
  letter-spacing: 8px;
  color: var(--green);
}

.hero-logo {
  width: 70px;
}

.acronym {
  font-family: "inter-bold";
  font-size: 18px;
  color: var(--green);
}

.event-description {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-family: "inter-bold";
  line-height: 27px;
}

.event-highlights {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 12px 0;
  justify-content: space-between;
  margin-top: 40px;
}

.highlight-image {
  width: 100px;
  height: 95px;
}

.highlight-item {
  max-width: 110px;
  text-align: center;
}

.highlight-title {
  font-size: 12px;
  margin-top: 7px;
}

.content-section {
  background-color: var(--white);
  padding: 60px;
}

.section-paragraph:nth-child(2) {
  margin-top: 12px;
}

.section-paragraph:nth-child(3) {
  text-align: center;
  margin: 12px 0;
}

.image-list {
  display: flex;
  align-self: center;
  justify-content: center;
  column-gap: 3em;
}

.image-list img {
  width: 150px;
  height: 100px;
}

.custom-video {
  display: block;
  margin: 30px auto 0;
  width: 550px;
}

.event-section {
  background-color: var(--light-aqua);
  padding: 60px 60px 50px;
}

.event-title {
  color: var(--color-text);
  margin-bottom: 12px;
}

.event-title,
.event-detail {
  text-align: center;
}

.list-cards {
  display: flex;
  align-items: stretch;
  gap: 40px 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card-image {
  width: 100%;
  height: 164px;
}

.card {
  background-color: var(--green);
  max-width: 263px;
}

.content-card {
  padding: 19px 10px;
}

.card-describe {
  font-family: "inter-semibold", sans-serif;
  line-height: 18px;
  font-size: 12px;
  margin-bottom: 8px;
}

.card-describe,
.card-authors {
  color: var(--white);
}

.card-authors {
  font-family: "inter-regular", sans-serif;
  font-size: 11px;
  line-height: 15px;
}

.content-card-size {
  padding: 10px;
}

.list-cards li:nth-child(11) .content-card {
  padding: 11.5px 10px;
}

/****************************************************************** canopi.html ******************************************************************/

/****************************************************************** frises.html *******************************************************************/
.frise-hero-content {
  background-color: var(--green);
  opacity: 0.5;
  height: auto;
  padding: 190px 0;
  text-align: center;
}

.frise-hero-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url("../assets/images/bgfrises.png");
  background-repeat: round;
  background-size: cover;
  opacity: 0.3;
}

.frise-hero-title {
  font-size: 3.5em;
  color: var(--white);
}

.frise-hero-content p:nth-child(2) {
  color: var(--white);
  font-size: 22px;
  font-family: "inter-bold", sans-serif;
  text-align: center;
  max-width: 745px;
  margin: 15px auto 0;
  line-height: 31px;
}

.bg-green {
  background-color: var(--light-aqua);
}

.frise-img {
  padding: 60px 60px 0;
  width: 100%;
}

.frise-card {
  background-color: var(--color-text);
}

.section-remis {
  padding: 45px 60px;
  background-color: var(--green);
}

.section-remis h2:nth-child(1) {
  color: var(--white);
  text-align: center;
}

.box-remis {
  display: flex;
  align-items: end;
  column-gap: 40px;
  margin: 40px 0 50px;
}

.content-remis p:nth-child(1) {
  font-size: 18px;
  font-family: "inter-semibold", sans-serif;
  color: var(--white);
  line-height: 28px;
  margin-bottom: 25px;
}

.image1 {
  width: 250px;
}
.content-img{
  vertical-align: bottom !important;
}
.content-img:nth-child(2) {
  width: 170px;
  height: 250px;
}

.content-img:nth-child(1) {
  width: 300px;
  height: 250px;
  margin-right: 30px;
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 15px 0;
  border-radius: 8px;
  max-width: 410px;
  margin: 0 auto;
}

.download-icon {
  width: 30px;
}

.download-link {
  font-size: 18px;
  color: var(--green);
  margin: 0 60px 0;
}

/****************************************************************** frises.html *******************************************************************/
.edition {
  background-color: var(--white);
  text-align: center;
  padding: 40px 0;
}

.line {
  display: block;
  width: 85%;
  height: 1.4px;
  margin: 35px auto 55px;
  background-color: var(--green);
}

.link-edition {
  background-color: var(--sky-blue);
  font-size: 15px;
  border-radius: 7px;
  padding: 18px 45px;
}

.edition-img {
  display: flex;
  align-items: center;
  column-gap: 15px;
  justify-content: center;
  margin: 70px 0 0;
}

.img:nth-child(1) {
  width: 110px;
}

.img {
  width: 45px;
}

